{% block tags_widget %}
{% spaceless %}
    <input {{ block('widget_attributes') }} value="{{ value }}" />
	<script type="text/javascript">
		$(function() {
			$('#{{ id }}').tagsInput({
				{% for key, value in config %}{% spaceless %}
					{{ key|json_encode|raw }}: {{ value|json_encode|raw }}{% if not loop.last %},{% endif %}
				{% endspaceless %}{% endfor %}
			});
		});
	</script>
{% endspaceless %}
{% endblock tags_widget %}
